.page-img{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box1{
    margin: 200px 0;
}